<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <div class="sign-in-form">
        <form action="/api/signin" method="POST">
            <label for="email"> Enter the email</label>
            <input type="email" name="email" id="email" placeholder="Enter the email" />
          <label for="password"> Enter the password</label>
          <input type="password" name="password" id="password" placeholder="Enter the password" />
          <p><%= error %></p>
          <button type="submit">Sign In</button>
        </form>
      </div>
</body>
</html>